WIFI_SSID=your-wifi-ssid
WIFI_PASS=your-wifi-password

MQTT_HOST=192.168.1.10
MQTT_PORT=1883
MQTT_USER=your-mqtt-username
MQTT_PASS=your-mqtt-password

OTA_HOST=jmgo-remote
OTA_PASS=your-ota-password
OTA_UPLOAD_HOST=192.168.1.50

PROJECTOR_IP=192.168.1.20
PROJECTOR_PORT=9005
